
.content{
    overflow: hidden;
}
.nav_third{
    float: left;
    border: 1px gray solid;
}
.nav_third ul >li{
    list-style: none;
}
.content article{
    float:right;
    width: 826px;
}
article>h3{
    margin:0 auto;
    text-align: center;
    padding:20px ;
}
article>p{
    padding: 20px;
}
.nav_third li{
text-align: left;
padding:5px 30px;
}
#which_page {
   color:red;
}
#which_year{
    background-color: #4695b0;
}
.photo ul{
    overflow: hidden;
    margin:20px;
}
.photo li{
    list-style: none;
    float: left;
    margin: 40px 76px;
    width: 300px;
    text-align: center;
}
.photo img{
    width:300px;
    height:150px;
    list-style: none;
    margin-bottom: 5px;
}
.photo a:link,.photo a:visited{
    text-decoration: none;
    color: black;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}