
#which_page {
   color:red;
}
#which_year{
    background-color: #4695b0;
}
.photo{
    text-align: center;
     padding:20px 0;
}
#showImg{ 
    width:760px;
    height:500px;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}