
.ie7 .special_one ul {
    margin-left: -90px;
}
.ie7 .nav_two {
    padding-left: 18px;
}
.content {
    padding-left: 60px;
    margin-top: 25px;
    min-height: 556px;
}
.ie7 .content {
    padding-left: 35px;
}
.list ul {
    list-style: disc;
}
.list li {
    line-height: 37px;
}
.content a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
}
.date {
    float: right;
    margin-right: 94px;
}
.ie7 .date {
    margin-top: -35px;
}
.list-num {
    text-align: center;
    margin-top: 45px;
}
.list-num a {
    margin-left: 10px;
}