*{
    padding: 0;
    margin:0;
    font-family:"微软雅黑";
}
body{
    margin: 0 auto;
    width:960px;
}
.nav_one{
    background-color: #f2f2f2;
    position: relative;
}

.nav_drag li{
    border: 1px gray solid;
    text-align: center;
    list-style: none;
    background-color: #ebebeb;
}

.nav_drag ul{
    visibility: hidden;
    position: absolute;
    left: -2px;
    width: 147px;
    top: 33px;
}
.nav_drag >a{
    height: 140px;
    display: block;
    position: absolute;
}
.nav_one >li{
    float: left;
    margin-left: 10px;
    font-size:18px;
    border-right: 2px solid black;
    padding: 0 35px;
    margin:10px 0;
    list-style: none;
    position: relative;
}
.nav_one .special_one{
    border-right: none;
    width: 184px;
    text-align: center;
    margin-left: -37px;
    position: relative;
}
.special_one ul{
    position: absolute;
    visibility: hidden;
    top:32px;
}
.ie7 .special_one ul {
    margin-left: -90px;
}
.special_one >a{
    height: 140px;
    display: block;
    position: absolute;
    left: 60px;
}
.nav_one li:hover ul,/*非IE6*/
.nav_one ul a:hover ul{/*IE6*/
visibility:visible;
    }

.special_one li{
    list-style: none;
    text-align: center;
    background-color: #ebebeb;
    border: 1px solid #8b8b8b;
    width:190px;
}

.clear{
    clear:both;
}
.nav_two{
    background-color: #4695b0;
    padding:10px 0 10px 40px;
}
.nav_two span{
    color: white;
}
.content{
    overflow: hidden;
}
.nav_third{
    float: left;
    border: 1px gray solid;
}
.content article{
    float:right;
    width: 826px;
}
article>h3{
    margin:0 auto;
    text-align: center;
    padding:20px ;
}
article>p{
    padding: 20px;
}
.nav_third li{
text-align: left;
padding:5px 30px;
}
address{
    display: inline-block;
    font-style: normal;
    margin-top: 25px;
}
address span+span{
border-left:solid 2px black;
padding-left:5px;
}
footer{
    position: relative;
    text-align: center;
    background-image: url("../images/footer.png");
    height:300px;
}
footer>span{
    position: absolute;
    right:20px;
    top:25px;
}
.ie7 .nav_two {
    padding-left: 18px;
}
.nav_two a:link{
    text-decoration: none;
    color:white;
}
.nav_two a:visited{
    text-decoration: none;
    color:white;
}
.nav_one a:link,
.nav_third a:link{
text-decoration: none;
color: black;
}
.nav_one a:visited,
.nav_third a:visited{
text-decoration: none;
color: black;
}
address span+span a:link{
     text-decoration: none;
     color: black;
}
address span+span a:visited{
    text-decoration: none;
    color: black;
}
.bug_one{
 width:72px;
 height:24px;
}
#which_page {
   color:red;
}
.content {
    padding-left: 60px;
    margin-top: 25px;
    min-height: 556px;
    margin-bottom: 68px;
}
.ie7 .content {
    padding-left: 35px;
}
.essay {
    width: 638px;
    float: left;
}
h2 {
    text-align: center;
}
.time {
    text-align: center;
    color: #808080;
    line-height: 30px;
    text-indent: 0;
    margin-top: 0;
    border-bottom: 1px solid #7a7a7a;
}
p {
    text-indent: 32px;
    margin-top: 18px;
}
.newest {
    float: right;
    width: 225px;
    border: 1px solid #9c9c9c;
    margin-right: 17px;
}
.newest a {
    text-decoration: none;
    color: #000000;
}
.newest h4 {
    background-image: url(../images/newestbg.png);
    height: 36px;
    color: #ffffff;
    font-size: 16px;
    padding-left: 5px;

}
.newest li {
    margin: 0 5px 28px 5px;
    list-style: none;
} 