*{
    padding: 0;
    margin:0;
    font-family:"微软雅黑";
}
body{
    margin: 0 auto;
    width:960px;
}
header{
    height:146px;
}
.nav_one{
    background-color: #f2f2f2;
    position: relative;*+position: !important ;/*修改了ie7下的一个浮动bug;*/
    padding-left:50px;
}

 /*二级菜单*/
.nav_drag li{
    border: 1px gray solid;
    text-align: center;
    list-style: none;
    background-color: #ebebeb;
    display: none;
}

.nav_drag ul{
    visibility: hidden;
    position: absolute;
    left: -42px;
    width: 147px;
    top: 34px;
}
.nav_drag >a{
    display: block;
    position: absolute;
}
.nav_one >li >a{
    border-right: 2px solid black;
    padding-right: 42px;
}
.nav_one >li{
    float: left;
    font-size:18px;
    list-style: none;
    position: relative;
    width: 164px;
    height: 25px;
    padding: 5px 0 5px 0;

}
.nav_one .special_one{
 
    width: 171px;
    text-align: center;
    position: relative;
    border-right:none;
}
.special_one ul{
    position: absolute;
    visibility: hidden;
    top:34px;
    left:-30px;
}
.special_one >a{
    display: block;
    border-right: none!important;
}
.nav_one li:hover ul li,/*非IE6*/
.nav_one a:hover ul li{/*IE6*/
visibility:visible;
display: block;
    }

.special_one li{
    list-style: none;
    text-align: center;
    background-color: #ebebeb;
    border: 1px solid #8b8b8b;
    width:190px;
}
/*防止float对框架的影响*/
.clear{
    clear:both;
}
.nav_two{
    background-color: #4695b0;
    padding:10px 0 10px 40px;
    color: white;
}
.nav_two span:first-child{      /*css伪类选择器*/
    color: white;
    padding-right: 10px;
}
address{
    display: inline-block;
    font-style: normal;
    margin-top: 25px;
}
address span+span{
border-left:solid 2px black;
padding-left:5px;
}
footer{
    position: relative;
    text-align: center;
    background-image: url("../images/footer.png");
    height:300px;
    display:block;
}
footer>span{
    position: absolute;
    right:20px;
    top:25px;
}
.nav_two a:link{
    text-decoration: none;
    color:white;
}
.nav_two a:visited{
    text-decoration: none;
    color:white;
}
.nav_one a:link,
.nav_third a:link{
text-decoration: none;
color: black;
}
.nav_one a:visited,
.nav_third a:visited{
text-decoration: none;
color: black;
}
address span+span a:link{
     text-decoration: none;
     color: black;
}
address span+span a:visited{
    text-decoration: none;
    color: black;
}
.bug_one{
 width:72px;
 height:10px;
}
#which_page {
   color:red;
}
#which_year{
    background-color: #4695b0;
}
article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}